html {
    height: 100%;
}
body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: $black;

    @include media-breakpoint-down(md) {
        font-size: 1rem;
    }
    // @include media-breakpoint-up(2000px) {
    //     font-size: 16px;
    // }
}
body.menu-open {
    .o-page__content {
        // transform: perspective(500px) rotateX(-1deg) scale(0.98);
        // transform: scale(0.9);

        @include media-breakpoint-up(md) {
            transform: scale(0.95);
        }
    }
}

body::-webkit-scrollbar {
    width: 0.75em;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  &:hover {
      background-color: $primary;
  }
}

::-moz-selection { 
    background: $secondary; 
}
::selection { 
    background: $secondary; 
}

#app {
    height: 100%;
}

p {
    font-weight: 300;
}

p:last-child {
    margin-bottom: 0;
}

a {
    transition: color 0.3s;
    
    &:hover {
        color: $primary;
        text-decoration: none;
    }

}

img {
    max-width: 100%;
}


.headlineBg {
    font-size: 5rem;
    line-height: 0.8;
    color: rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    @include media-breakpoint-up(md) {
        font-size: 12rem;
    }
    @include media-breakpoint-up(lg) {
        font-size: 30vh;
    }
    @include media-breakpoint-up(xl) {
        font-size: 50vh;
    }
}


//Animations: https://www.creativebloq.com/inspiration/css-animation-examples/2
.effect-shine:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(255,255,255,.6) 30%, #fff 50%, rgba(255,255,255,.6) 70%);
    -webkit-mask-size: 200%;
   
    animation-name: shine;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
  
@keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

.effect-stroke {
    display: inline-block;
    position: relative;
    transition: color 0.5s 0.25s;
    overflow: hidden;

    &:before {
        content: '';
        width: 100%;
        height: 1px;
        background: #fff;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate3d(-101%, 0, 0);
        transition: transform 0.4s;
        transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    }

    span {
        position: absolute;
        height: 50%;
        width: 100%;
        left: 0;
        top: 0;
        overflow: hidden;

        &:last-child {
            top: 50%;
        }

        &:before {
            content: attr(data-letters);
            position: absolute;
            left: 0;
            width: 100%;
            color: #fff;
            transition: transform 0.5s;
        }

        &:first-child:before {
            top: 0;
            transform: translate3d(0, 100%, 0);
        }
        &:last-child:before {
            bottom: 0;
            transform: translate3d(0, -100%, 0);
        }
    }


    &:hover {
        transition: none;
        color: transparent;
        &:before {
            transform: translate3d(100%, 0, 0);
        }
        span:before {
            transform: translate3d(0, 0, 0);
            transition-delay: 0.3s;
            transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
        }
    }

}

.effect-zoom {
    display: inline-block;
    overflow: visible;

    transition: transform 0.6s;
    transition-timing-function: $cubic-bezier;
    &:hover {
        transform: scale(1.05);
    }
}

.loader-ripple {
    display: inline-block;
    position: relative;
    width: rem-calc(64);
    height: rem-calc(64);

    span {
        display: block;
        position: absolute;
        border: rem-calc(2) solid rgba(255, 255, 255, 0.6);
        opacity: 1;
        border-radius: 50%;
        animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
        &:nth-child(2) {
            animation-delay: -0.5s;
        }
    }


}

@keyframes ripple {
    0% {
        top: rem-calc(28);
        left: rem-calc(28);
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: rem-calc(58);
        height: rem-calc(58);
        opacity: 0;
    }
}
  


@include media-breakpoint-up(sm) {

}
@include media-breakpoint-up(md) {

}
@include media-breakpoint-up(lg) {

}
@include media-breakpoint-up(xl) {

}

@include media-breakpoint-down(xs) {}
@include media-breakpoint-down(sm) {}
@include media-breakpoint-down(md) {}
@include media-breakpoint-down(lg) {}