.o-page {
    width: 100%;
    height: 100%;

    position: relative;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.o-page__content {
    width: 100%;
    height: 100%;
    padding-top: $top-bar-height;

    position: relative;
    transition: transform 0.2s ease-in;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}