@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translate3d(0, rem-calc(100), 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


.p-about {
    
}

.p-about__content {
    padding-top: calc(100vh - #{rem-calc(150)});
}

.p-about__heading {
    opacity: 0;
    will-change: opacity, transform;
    
    .p-about--start & {
        animation: fade-in 1s ease 0.4s;
        animation-fill-mode: forwards;
    }
}

.p-about__article {
    background-color: rgba(255, 255, 255, 0.9);
    color: $black;

    transform: translate3d(0, rem-calc(100), 0);
    opacity: 0;
    will-change: transform, opacity;

    .p-about--start & {
        animation: slide-up 1s ease 0.4s;
        animation-fill-mode: forwards;
    }
}

.p-about__section {
    @include media-breakpoint-up(lg) {
        min-height: 100vh;
    }

    margin-top: rem-calc(50);
    margin-bottom: rem-calc(50);

    @include media-breakpoint-up(lg) {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.p-about__blockquote {
    position: relative;
    margin: 0;
    font-weight: 300;

    @include media-breakpoint-up(lg) {
        font-size: rem-calc(18);
    }

    p {
        display: inline-block;
        position: relative;
        font-style: italic;

        &:before {
            content: "\f10d";
            font-family: $fontawesome;
            font-weight: 900;
            font-size: rem-calc(64);
            line-height: 1;
            font-style: normal;
    
            display: block;
            position: absolute;
            top: rem-calc(-8);
            opacity: 0.07;
        }
    }

    cite {
        position: absolute;
        top: 100%;
        right: 0;
        display: block;
        font-size: 0.875em;
        font-style: normal;
    }
}

.p-about__section-h2 {
    position: sticky;
    top: 0;
    transform: translateX(-40px);
    opacity: 0.15;
    color: $secondary;
    font-size: 20vw;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;

    @include media-breakpoint-up(lg) {
        transform: translateX(-70px);
        font-size: 30vh;
    }
    @include media-breakpoint-up(xl) {
        transform: translateX(-100px);
        font-size: 50vh;
    }
}